#### Data Augmetation: several tries

## 1.

In [2]:
from nltk.corpus import PlaintextCorpusReader
import pandas as pd
import numpy as np
import nltk

download = False

if download:
    nltk.download('punkt')
    nltk.download('stopwords')
    nltk.download('wordnet')

DATA_PATH = "data/"
path_articles = DATA_PATH + "articles_plain_text/"

In [12]:
topics = pd.read_csv(DATA_PATH + "topics_articles.csv")

#### Compare 3 clich√©s and 3 random articles

In [13]:
# Articles to compare
articles_to_compare_1 = ["Viking.txt", "Leonardo_da_Vinci.txt", "Venus.txt"]
articles_to_compare_2 = ["William_Shakespeare.txt", "London.txt", "BBC.txt"]

# Filter DataFrame
df_compare_1 = topics[topics['article_name'].isin(articles_to_compare_1)]
df_compare_2 = topics[topics['article_name'].isin(articles_to_compare_2)]

In [14]:
df_compare_2[['article_name', 'topics']].to_csv(DATA_PATH + "compare_2_topics.csv", index=False)

In [15]:
# United Kingdom topics
uk_topics_row = topics[topics['article_name'] == 'United_Kingdom.txt']

In [16]:
uk_topics_row

,article_name,topics,confidence
4293,United_Kingdom.txt,['government' 'royalty' 'medieval' 'military' ...,[0.2 0.2 0.2 0.2 0.2 0. 0. 0. 0. 0. ]

In [17]:
# Check if the United Kingdom is in the DataFrame
if not uk_topics_row.empty:
    uk_topics = uk_topics_row.iloc[0]['topics']

    # Compare topics
    def compare_topics(topics_str1, topics_str2):
        # Convert string representations to actual lists
        list1 = topics_str1.split(' ')
        list2 = topics_str2.split(' ')

        set1 = set(list1)
        set2 = set(list2)
        common_topics = set1 & set2
        return common_topics

    # Compare topics for df_compare_1
    for index, row in df_compare_1.iterrows():
        common_topics = compare_topics(row['topics'], uk_topics)
        print(f"Common topics for {row['article_name']} and United Kingdom: {common_topics}")

    # Compare topics for df_compare_2
    for index, row in df_compare_2.iterrows():
        common_topics = compare_topics(row['topics'], uk_topics)
        print(f"Common topics for {row['article_name']} and United Kingdom: {common_topics}")
else:
    print("United Kingdom not found in the DataFrame.")

Common topics for Leonardo_da_Vinci.txt and United Kingdom: {"'money'", "'help'", "'dance'"}
Common topics for Venus.txt and United Kingdom: {"'money'", "'help'", "'dance'"}
Common topics for Viking.txt and United Kingdom: {"'money'", "'help'", "'dance'"}
Common topics for BBC.txt and United Kingdom: set()
Common topics for London.txt and United Kingdom: {"'money'", "'help'", "'dance'"}
Common topics for William_Shakespeare.txt and United Kingdom: {"'office'\n", "'help'"}

#### Compare 10 random articles

In [18]:
np.random.seed(16)

# Randomly select 10 articles
random_articles = topics.sample(n=10)

# United Kingdom topics
uk_topics_row = topics[topics['article_name'] == 'United_Kingdom.txt']

# Check if the United Kingdom is in the DataFrame
if not uk_topics_row.empty:
    uk_topics = uk_topics_row.iloc[0]['topics']

    # Function to compare topics
    def compare_topics(topics_str1, topics_str2):
        # Convert string representations to actual lists
        list1 = topics_str1.split(' ')
        list2 = topics_str2.split(' ')

        set1 = set(list1)
        set2 = set(list2)
        common_topics = set1 & set2
        return common_topics

    # Compare topics for the randomly selected articles
    for index, row in random_articles.iterrows():
        common_topics = compare_topics(row['topics'], uk_topics)
        print(f"Common topics for {row['article_name']} and United Kingdom: {common_topics}")

    # Save 'topics' column of random_articles to a CSV file
    random_articles[['article_name', 'topics']].to_csv(DATA_PATH + "random_articles_topics.csv", index=False)
else:
    print("United Kingdom not found in the DataFrame.")

Common topics for Cataract_surgery.txt and United Kingdom: {"'help'", "'dance'", "'office'\n", "'money'", "'wedding']"}
Common topics for Cuckmere_Haven.txt and United Kingdom: set()
Common topics for Henry_I_of_England.txt and United Kingdom: {"'power'", "'royalty'", "'medieval'", "'dance'"}
Common topics for Gaborone.txt and United Kingdom: {"'money'", "'dance'"}
Common topics for 11th_century.txt and United Kingdom: {"'office'\n", "'money'", "'help'", "'dance'"}
Common topics for Middle_Ages.txt and United Kingdom: {"'money'", "'help'", "'dance'"}
Common topics for Sun_Tzu.txt and United Kingdom: {"'office'\n", "'help'"}
Common topics for List_of_sovereign_states.txt and United Kingdom: {"'money'", "'help'", "'dance'", "['government'"}
Common topics for Antananarivo.txt and United Kingdom: {"'money'", "'dance'"}
Common topics for Cymbopogon.txt and United Kingdom: {"'money'", "'help'", "'dance'"}

#### Entire set

In [19]:
# Set a random seed for reproducibility
np.random.seed(47)

# United Kingdom topics
uk_topics_row = topics[topics['article_name'] == 'United_Kingdom.txt']

# Check if the United Kingdom is in the DataFrame
if not uk_topics_row.empty:
    uk_topics = uk_topics_row.iloc[0]['topics']

    # Function to compare topics
    def compare_topics(topics_str1, topics_str2):
        # Convert string representations to actual lists
        list1 = topics_str1.split(' ')
        list2 = topics_str2.split(' ')

        set1 = set(list1)
        set2 = set(list2)
        common_topics = set1 & set2
        return common_topics

    # Compare topics for all articles in the dataset
    comparisons_with_common_topics = []

    for index, row in topics.iterrows():
        common_topics = compare_topics(row['topics'], uk_topics)
        if common_topics:
            comparisons_with_common_topics.append({'article_name': row['article_name'], 'common_topics': common_topics})

    # Sort comparisons based on the number of common topics
    comparisons_with_common_topics.sort(key=lambda x: len(x['common_topics']), reverse=True)

    # Print the top 5 comparisons
    print("Top 5 comparisons with most common topics:")
    for i in range(min(5, len(comparisons_with_common_topics))):
        print(f"{comparisons_with_common_topics[i]['article_name']} and United Kingdom: {comparisons_with_common_topics[i]['common_topics']}")

    # Save the top 50 comparisons to a CSV file
    top_50_comparisons = comparisons_with_common_topics[:50]
    if top_50_comparisons:
        df_top_50_comparisons = pd.DataFrame(top_50_comparisons)
        df_top_50_comparisons.to_csv(DATA_PATH + "top_50_common_topics.csv", index=False)
else:
    print("United Kingdom not found in the DataFrame.")

Top 5 comparisons with most common topics:
United_Kingdom.txt and United Kingdom: {"'military'", "'help'", "'dance'", "'office'\n", "'medieval'", "'power'", "['government'", "'royalty'", "'money'", "'wedding']"}
William_Renshaw.txt and United Kingdom: {"'military'", "'help'", "'dance'", "'office'\n", "'medieval'", "'power'", "['government'", "'royalty'", "'money'", "'wedding']"}
Colditz_Castle.txt and United Kingdom: {"'help'", "'dance'", "'office'\n", "'medieval'", "'royalty'", "'money'", "'wedding']"}
Force.txt and United Kingdom: {"'military'", "'help'", "'dance'", "'office'\n", "'power'", "'money'", "'wedding']"}
Haji_Mohammad_Suharto.txt and United Kingdom: {"'military'", "'help'", "'dance'", "'office'\n", "'power'", "'money'", "'wedding']"}

##### Additional analysis

In [20]:
# Assuming df_topics is your DataFrame

# Find the row for 'Gallery_of_the_Kings_and_Queens_of_England.txt'
article_row = topics[topics['article_name'] == 'Gallery_of_the_Kings_and_Queens_of_England.txt']

# United Kingdom topics
uk_topics_row = topics[topics['article_name'] == 'United_Kingdom.txt']

# Check if the article and United Kingdom are in the DataFrame
if not article_row.empty and not uk_topics_row.empty:
    article_topics = article_row.iloc[0]['topics']
    uk_topics = uk_topics_row.iloc[0]['topics']

    # Print topics for the article and the United Kingdom
    print(article_topics[1])
    print(f"Topics for Gallery_of_the_Kings_and_Queens_of_England.txt: {article_topics}")
    print(f"Topics for United_Kingdom.txt: {uk_topics}")

    # Function to compare topics
    def compare_topics(topics_str1, topics_str2):
        # Convert string representations to actual lists
        list1 = topics_str1.split(' ')
        list2 = topics_str2.split(' ')

        set1 = set(list1)
        set2 = set(list2)
        common_topics = set1 & set2
        return common_topics

    # Compare topics for the article and the United Kingdom
    common_topics = compare_topics(article_topics, uk_topics)
    print(f"Common topics between Gallery_of_the_Kings_and_Queens_of_England.txt and United_Kingdom.txt: {common_topics}")
else:
    print("Article or United Kingdom not found in the DataFrame.")

'
Topics for Gallery_of_the_Kings_and_Queens_of_England.txt: ['domestic_work' 'royalty' 'real_estate' 'home' 'medieval' 'power' 'party'
 'help' 'office' 'dance']
Topics for United_Kingdom.txt: ['government' 'royalty' 'medieval' 'military' 'power' 'help' 'office'
 'dance' 'money' 'wedding']
Common topics between Gallery_of_the_Kings_and_Queens_of_England.txt and United_Kingdom.txt: {"'medieval'", "'royalty'", "'help'", "'power'"}

## 2.

#### Get most common words and Proper nouns from text

In [ ]:
from nltk.tokenize import word_tokenize
import spacy
nlp = spacy.load('en_core_web_sm')

In [ ]:
all_articles = PlaintextCorpusReader(
    path_articles, ".*.txt", encoding="utf8"
).fileids()

In [ ]:
# Last try
import spacy
from nltk.corpus import stopwords
import csv

# Load spaCy model and NLTK stop words
nlp = spacy.load("en_core_web_sm")
stop_words = set(stopwords.words("english"))

def preprocess_text(text):
    # Process the text using spaCy
    doc = nlp(text)

    # Extract tokens and part-of-speech tags
    tokens_pos = [(token.text, token.pos_) for token in doc]

    # Remove stop words and non-alphabetic words
    filtered_tokens_pos = [
        (word, 'NOUN' if word.istitle() and pos != 'PROPN' else pos)
        for word, pos in tokens_pos
        if word.isalpha() and word.lower() not in stop_words
    ]

    return filtered_tokens_pos

# List to store preprocessed documents
docs = []

for article_name in all_articles:
    with open(path_articles + article_name, "r", encoding="utf-8") as file:
        text = file.read()

    # Preprocess the text
    preprocessed_tokens_pos = preprocess_text(text)

    # Append preprocessed tokens to the docs list
    docs.append(preprocessed_tokens_pos)

# Define the CSV file path
csv_file_path = "preprocessed_data.csv"

# Write the preprocessed data to the CSV file
with open(csv_file_path, mode='w', encoding='utf-8', newline='') as csvfile:
    csv_writer = csv.writer(csvfile)
    
    # Write header
    csv_writer.writerow(["Article", "Tokens_POS"])
    
    # Write data
    for i, article_tokens_pos in enumerate(docs):
        csv_writer.writerow([all_articles[i], article_tokens_pos])

In [21]:
from collections import Counter
import csv

# Load the preprocessed data
tokens_and_pos = pd.read_csv(DATA_PATH + "preprocessed_data.csv")

# Replace 'United_Kingdom.txt' with the target article name
target_article_name = 'United_Kingdom.txt'

# Filter rows related to the target article
target_article_data = tokens_and_pos[tokens_and_pos['Article'] == target_article_name]

# Check if the target article is present in the DataFrame
if not target_article_data.empty:
    # Extract the top 10 PROPN tokens for the target article
    target_proper_nouns = [token[0] for tokens_pos_list in target_article_data['Tokens_POS'] for token in eval(tokens_pos_list) if token[1] == 'PROPN']
    top_target_proper_nouns = [item[0] for item in Counter(target_proper_nouns).most_common(10)]

    # Initialize a list to store common proper nouns
    common_proper_nouns = []

    # Iterate through each row in the DataFrame
    for index, row in tokens_and_pos.iterrows():
        # Extract the top 10 PROPN tokens for each article
        article_proper_nouns = [token[0] for token in eval(row['Tokens_POS']) if token[1] == 'PROPN']
        top_article_proper_nouns = [item[0] for item in Counter(article_proper_nouns).most_common(10)]

        # Compare with the top PROPN tokens of the target article
        common_tokens = set(top_article_proper_nouns) & set(top_target_proper_nouns)

        # Store the results
        common_proper_nouns.append({'Article': row['Article'], 'Common_Propnouns': common_tokens})

    # Convert the results to a DataFrame
    common_proper_nouns_df = pd.DataFrame(common_proper_nouns)

    # Sort the DataFrame based on the number of common proper nouns
    common_proper_nouns_df = common_proper_nouns_df.sort_values(by='Common_Propnouns', key=lambda x: x.str.len(), ascending=False)

    # Print the top 5 comparisons
    print("Top 5 comparisons with most common proper nouns:")
    for i in range(min(5, len(common_proper_nouns_df))):
        print(f"{common_proper_nouns_df.iloc[i]['Article']} and {target_article_name}: {common_proper_nouns_df.iloc[i]['Common_Propnouns']}")

    # Save the top comparisons to a CSV file
    top_comparisons = common_proper_nouns_df.head(50)
    if not top_comparisons.empty:
        top_comparisons.to_csv(DATA_PATH + "top_proper_noun_comparisons.csv", index=False)
        print(f"Top comparisons with most common proper nouns saved to {DATA_PATH}top_proper_noun_comparisons.csv")
    else:
        print("No common proper nouns found.")
else:
    print(f"{target_article_name} not found in the DataFrame.")

Top 5 comparisons with most common proper nouns:
United_Kingdom.txt and United_Kingdom.txt: {'UK', 'United', 'England', 'Ireland', 'Northern', 'Scotland', 'Wales', 'British', 'Kingdom', 'London'}
United_Kingdom_national_football_team.txt and United_Kingdom.txt: {'UK', 'United', 'Ireland', 'Northern', 'Scotland', 'Kingdom', 'England'}
Pound_sterling.txt and United_Kingdom.txt: {'UK', 'United', 'Ireland', 'Northern', 'Scotland', 'Kingdom', 'England'}
Great_Britain.txt and United_Kingdom.txt: {'United', 'Northern', 'Ireland', 'Scotland', 'British', 'Kingdom', 'England'}
British_English.txt and United_Kingdom.txt: {'UK', 'England', 'Ireland', 'Scotland', 'British', 'London'}
Top comparisons with most common proper nouns saved to data/top_proper_noun_comparisons.csv

### Links and proper nouns

In [9]:
import pandas as pd
import spacy
import ast

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Load the data from the CSV file
csv_file_path = "data/links_common.csv"
df = pd.read_csv(csv_file_path)

# Function to extract proper nouns from a list of words
def extract_proper_nouns(words):
    words_list = ast.literal_eval(words)  # Convert string to list
    doc = nlp(" ".join(words_list))
    proper_nouns = [token.text for token in doc if token.pos_ == 'PROPN' and token.text.istitle()]
    return proper_nouns

# Apply the function to the 'common_articles' column and create a new column 'common_propn'
df['common_propn'] = df['common_articles'].apply(extract_proper_nouns)

# Save the updated DataFrame to a new CSV file
new_csv_file_path = "data/links_common_updated.csv"
df.to_csv(new_csv_file_path, index=False)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df[['article', 'common_articles', 'common_propn']])

Updated DataFrame:
                    article  \
0         √Åed√°n_mac_Gabr√°in
1                     √Öland
2             √âdouard_Manet
3                      √âire
4     √ìengus_I_of_the_Picts
...                     ...
4582                Zionism
4583              Zirconium
4584              Zoroaster
4585           Zuid-Gelders
4586                   Zulu

                                        common_articles  \
0     ['Orkney', 'Isle_of_Man', 'Monarchy', 'Great_B...
1     ['Time_zone', 'World_War_II', 'Currency', 'Eur...
2     ['Germany', 'United_States_dollar', 'Italy', '...
3     ['English_language', 'Ireland', 'Republic_of_I...
4     ['Lion', 'Great_Britain', 'Ireland', 'Scotland...
...                                                 ...
4582  ['Argentina', 'United_Nations', 'World_War_II'...
4583          ['Steel', 'Electron', 'Bicycle', 'India']
4584                          ['Christianity', 'India']
4585                                                 []
4586               ['Christianity', 'English_language']

                                           common_propn
0     [Monarchy, Great_Britain, Ireland, Scotland, W...
1                                [European_Union, Euro]
2                              [Germany, Italy, France]
3                   [Ireland, Northern_Ireland, Canada]
4     [Lion, Great_Britain, Ireland, Scotland, England]
...                                                 ...
4582  [Argentina, Europe, British_Empire, Italy, Ind...
4583                  [Steel, Electron, Bicycle, India]
4584                              [Christianity, India]
4585                                                 []
4586                                     [Christianity]

[4587 rows x 3 columns]

In [12]:
# 2nd try
import pandas as pd
import spacy
import ast

# Load spaCy model
nlp = spacy.load("en_core_web_sm")

# Load the data from the CSV file
csv_file_path = "data/links_common.csv"
df = pd.read_csv(csv_file_path)

# Function to extract proper nouns from a list of words
def extract_proper_nouns(words):
    words_list = ast.literal_eval(words)  # Convert string to list
    doc = nlp(" ".join(words_list))
    proper_nouns = [token.text for token in doc if token.pos_ == 'PROPN' and token.text.istitle() and token.text.isalpha()]
    return proper_nouns

# Apply the function to the 'common_articles' column and create a new column 'common_propn'
df['common_propn'] = df['common_articles'].apply(extract_proper_nouns)

# Save the updated DataFrame to a new CSV file
new_csv_file_path = "data/links_common_updated_2.csv"
df.to_csv(new_csv_file_path, index=False)

# Display the updated DataFrame
print("\nUpdated DataFrame:")
print(df[['article', 'common_articles', 'common_propn']])

Updated DataFrame:
                    article  \
0         √Åed√°n_mac_Gabr√°in
1                     √Öland
2             √âdouard_Manet
3                      √âire
4     √ìengus_I_of_the_Picts
...                     ...
4582                Zionism
4583              Zirconium
4584              Zoroaster
4585           Zuid-Gelders
4586                   Zulu

                                        common_articles  \
0     ['Orkney', 'Isle_of_Man', 'Monarchy', 'Great_B...
1     ['Time_zone', 'World_War_II', 'Currency', 'Eur...
2     ['Germany', 'United_States_dollar', 'Italy', '...
3     ['English_language', 'Ireland', 'Republic_of_I...
4     ['Lion', 'Great_Britain', 'Ireland', 'Scotland...
...                                                 ...
4582  ['Argentina', 'United_Nations', 'World_War_II'...
4583          ['Steel', 'Electron', 'Bicycle', 'India']
4584                          ['Christianity', 'India']
4585                                                 []
4586               ['Christianity', 'English_language']

                                           common_propn
0                  [Monarchy, Ireland, Scotland, Wales]
1                                                [Euro]
2                              [Germany, Italy, France]
3                                     [Ireland, Canada]
4                    [Lion, Ireland, Scotland, England]
...                                                 ...
4582  [Argentina, Europe, Italy, India, Germany, Jud...
4583                  [Steel, Electron, Bicycle, India]
4584                              [Christianity, India]
4585                                                 []
4586                                     [Christianity]

[4587 rows x 3 columns]

In [ ]:
### Third try
def create_set(link, df):
    return set(df[df["linkSource"] == link]["linkTarget"].to_numpy())

df_links_common = pd.DataFrame(
    columns=["reference_article", "article", "common_articles"]
)
reference_article = "United_Kingdom"

reference_set = create_set(reference_article, links)

for article_name in links["linkSource"].unique():
    comparison_set = create_set(article_name, links)
    new_row = {
        "reference_article": reference_article,
        "article": article_name,
        "common_articles": list(reference_set & comparison_set),
    }
    df_links_common.loc[df_links_common.shape[0]] = new_row

write = True
if write:
    write_to_csv("data/links_common.csv", df_links_common, ["reference_article", "article", "common_articles"])

## Find the intersection

In [66]:
import urllib.parse
import ast

In [67]:
csv_file_path_link = "data/links_common.csv"
df_link = pd.read_csv(csv_file_path_link)

csv_file_path_propn = "data/preprocessed_data.csv"
df_propn = pd.read_csv(csv_file_path_propn)

In [68]:
df_propn['Proper_Nouns'] = df_propn['Tokens_POS'].apply(lambda x: [token[0] for token in eval(x) if token[1] == 'PROPN'])

In [69]:
df_propn.rename(columns={'Article': 'article'}, inplace=True)
df_propn['article'] = df_propn['article'].apply(urllib.parse.unquote)
df_propn['article'] = df_propn['article'].str.replace('.txt', '')

In [70]:
df_propn

,article,Tokens_POS,Proper_Nouns
0,√Åed√°n_mac_Gabr√°in,"[('copyright', 'NOUN'), ('√Åed√°n', 'PROPN'), ('...","[√Åed√°n, mac, Gabr√°in, Schools, Wikipedia, Sele..."
1,√Öland,"[('copyright', 'NOUN'), ('√Öland', 'PROPN'), ('...","[√Öland, Schools, Wikipedia, Selection, Europea..."
2,√âdouard_Manet,"[('copyright', 'NOUN'), ('√âdouard', 'PROPN'), ...","[√âdouard, Manet, Schools, Wikipedia, Selection..."
3,√âire,"[('copyright', 'NOUN'), ('√âire', 'PROPN'), ('S...","[√âire, Schools, Wikipedia, Selection, European..."
4,√ìengus_I_of_the_Picts,"[('copyright', 'NOUN'), ('√ìengus', 'PROPN'), (...","[√ìengus, Picts, Schools, Wikipedia, Selection,..."
...,...,...,...
4600,Zionism,"[('copyright', 'NOUN'), ('Zionism', 'PROPN'), ...","[Zionism, Schools, Wikipedia, Selection, State..."
4601,Zirconium,"[('copyright', 'NOUN'), ('Zirconium', 'PROPN')...","[Zirconium, Schools, Wikipedia, Selection, zir..."
4602,Zoroaster,"[('copyright', 'NOUN'), ('Zoroaster', 'PROPN')...","[Zoroaster, Schools, Wikipedia, Selection, Zor..."
4603,Zuid-Gelders,"[('copyright', 'NOUN'), ('Zuid', 'PROPN'), ('G...","[Zuid, Gelders, Schools, Wikipedia, Selection,..."
4604,Zulu,"[('copyright', 'NOUN'), ('Zulu', 'PROPN'), ('S...","[Zulu, Schools, Wikipedia, Selection, African,..."

In [71]:
df_link

,reference_article,article,common_articles
0,United_Kingdom,√Åed√°n_mac_Gabr√°in,"['Orkney', 'Isle_of_Man', 'Monarchy', 'Great_B..."
1,United_Kingdom,√Öland,"['Time_zone', 'World_War_II', 'Currency', 'Eur..."
2,United_Kingdom,√âdouard_Manet,"['Germany', 'United_States_dollar', 'Italy', '..."
3,United_Kingdom,√âire,"['English_language', 'Ireland', 'Republic_of_I..."
4,United_Kingdom,√ìengus_I_of_the_Picts,"['Lion', 'Great_Britain', 'Ireland', 'Scotland..."
...,...,...,...
4582,United_Kingdom,Zionism,"['Argentina', 'United_Nations', 'World_War_II'..."
4583,United_Kingdom,Zirconium,"['Steel', 'Electron', 'Bicycle', 'India']"
4584,United_Kingdom,Zoroaster,"['Christianity', 'India']"
4585,United_Kingdom,Zuid-Gelders,[]
4586,United_Kingdom,Zulu,"['Christianity', 'English_language']"

In [74]:
# Merge on the 'article'
result_df = pd.merge(df_link, df_propn)

In [75]:
print(result_df[['reference_article', 'article', 'common_articles', 'Proper_Nouns']])

     reference_article                article  \
0       United_Kingdom      √Åed√°n_mac_Gabr√°in
1       United_Kingdom                  √Öland
2       United_Kingdom          √âdouard_Manet
3       United_Kingdom                   √âire
4       United_Kingdom  √ìengus_I_of_the_Picts
...                ...                    ...
4582    United_Kingdom                Zionism
4583    United_Kingdom              Zirconium
4584    United_Kingdom              Zoroaster
4585    United_Kingdom           Zuid-Gelders
4586    United_Kingdom                   Zulu

                                        common_articles  \
0     ['Orkney', 'Isle_of_Man', 'Monarchy', 'Great_B...
1     ['Time_zone', 'World_War_II', 'Currency', 'Eur...
2     ['Germany', 'United_States_dollar', 'Italy', '...
3     ['English_language', 'Ireland', 'Republic_of_I...
4     ['Lion', 'Great_Britain', 'Ireland', 'Scotland...
...                                                 ...
4582  ['Argentina', 'United_Nations', 'World_War_II'...
4583          ['Steel', 'Electron', 'Bicycle', 'India']
4584                          ['Christianity', 'India']
4585                                                 []
4586               ['Christianity', 'English_language']

                                           Proper_Nouns
0     [√Åed√°n, mac, Gabr√°in, Schools, Wikipedia, Sele...
1     [√Öland, Schools, Wikipedia, Selection, Europea...
2     [√âdouard, Manet, Schools, Wikipedia, Selection...
3     [√âire, Schools, Wikipedia, Selection, European...
4     [√ìengus, Picts, Schools, Wikipedia, Selection,...
...                                                 ...
4582  [Zionism, Schools, Wikipedia, Selection, State...
4583  [Zirconium, Schools, Wikipedia, Selection, zir...
4584  [Zoroaster, Schools, Wikipedia, Selection, Zor...
4585  [Zuid, Gelders, Schools, Wikipedia, Selection,...
4586  [Zulu, Schools, Wikipedia, Selection, African,...

[4587 rows x 4 columns]

In [76]:
type(result_df['Proper_Nouns'])

pandas.core.series.Series

In [77]:
#result_df['Proper_Nouns'][0]

In [78]:
result_df['common_articles'] = result_df['common_articles'].apply(ast.literal_eval)

In [83]:
type(result_df["common_articles"][0])

list

In [84]:
x = result_df["common_articles"][0]
y = result_df["Proper_Nouns"][0]

In [86]:
a = set(x).intersection(y)
a

{'Ireland', 'Orkney', 'Scotland'}

In [94]:
range(len(result_df))

range(0, 4587)

In [97]:
result_df['intersection'] = np.nan

for i in range(len(result_df)):
    x = result_df["common_articles"][i]
    y = result_df["Proper_Nouns"][i]
    result_df["intersection"][i] = set(x).intersection(y)

C:\Users\annad\AppData\Local\Temp\ipykernel_13820\2152290474.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  result_df["intersection"][i] = set(x).intersection(y)
C:\Users\annad\AppData\Local\Temp\ipykernel_13820\2152290474.py:6: FutureWarning: Setting an item of incompatible dtype is deprecated and will raise in a future error of pandas. Value '{'Scotland', 'Ireland', 'Orkney'}' has dtype incompatible with float64, please explicitly cast to a compatible dtype first.
  result_df["intersection"][i] = set(x).intersection(y)

In [98]:
result_df

,reference_article,article,common_articles,Tokens_POS,Proper_Nouns,intersection
0,United_Kingdom,√Åed√°n_mac_Gabr√°in,"[Orkney, Isle_of_Man, Monarchy, Great_Britain,...","[('copyright', 'NOUN'), ('√Åed√°n', 'PROPN'), ('...","[√Åed√°n, mac, Gabr√°in, Schools, Wikipedia, Sele...","{Scotland, Ireland, Orkney}"
1,United_Kingdom,√Öland,"[Time_zone, World_War_II, Currency, European_U...","[('copyright', 'NOUN'), ('√Öland', 'PROPN'), ('...","[√Öland, Schools, Wikipedia, Selection, Europea...","{Currency, Euro}"
2,United_Kingdom,√âdouard_Manet,"[Germany, United_States_dollar, Italy, France]","[('copyright', 'NOUN'), ('√âdouard', 'PROPN'), ...","[√âdouard, Manet, Schools, Wikipedia, Selection...","{Italy, Germany, France}"
3,United_Kingdom,√âire,"[English_language, Ireland, Republic_of_Irelan...","[('copyright', 'NOUN'), ('√âire', 'PROPN'), ('S...","[√âire, Schools, Wikipedia, Selection, European...","{Canada, Ireland}"
4,United_Kingdom,√ìengus_I_of_the_Picts,"[Lion, Great_Britain, Ireland, Scotland, England]","[('copyright', 'NOUN'), ('√ìengus', 'PROPN'), (...","[√ìengus, Picts, Schools, Wikipedia, Selection,...","{Scotland, England, Ireland}"
...,...,...,...,...,...,...
4582,United_Kingdom,Zionism,"[Argentina, United_Nations, World_War_II, Euro...","[('copyright', 'NOUN'), ('Zionism', 'PROPN'), ...","[Zionism, Schools, Wikipedia, Selection, State...","{Argentina, France, Europe, Judaism, India, Ge..."
4583,United_Kingdom,Zirconium,"[Steel, Electron, Bicycle, India]","[('copyright', 'NOUN'), ('Zirconium', 'PROPN')...","[Zirconium, Schools, Wikipedia, Selection, zir...","{India, Electron}"
4584,United_Kingdom,Zoroaster,"[Christianity, India]","[('copyright', 'NOUN'), ('Zoroaster', 'PROPN')...","[Zoroaster, Schools, Wikipedia, Selection, Zor...","{India, Christianity}"
4585,United_Kingdom,Zuid-Gelders,[],"[('copyright', 'NOUN'), ('Zuid', 'PROPN'), ('G...","[Zuid, Gelders, Schools, Wikipedia, Selection,...",{}
4586,United_Kingdom,Zulu,"[Christianity, English_language]","[('copyright', 'NOUN'), ('Zulu', 'PROPN'), ('S...","[Zulu, Schools, Wikipedia, Selection, African,...",{Christianity}

In [100]:
result_df[["reference_article", "article", "intersection"]].to_csv("data/intersect_link_propn.csv", index=False)

In [101]:
result_df.to_csv("data/merged_link_propn.csv", index=False)